.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  width: 1440px;
  height: 698px;
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
}

/* nave styles */
nav {
  display: flex;
  padding: 0 150px;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
}
.title-logo {
  font-family: Inter;
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}
.banner {
  width: 905px;
  height: 237px;
  text-align: center;
  margin: 150px 265px;
}
.banner-title {
  font-family: Raleway;
  font-size: 65px;
  font-weight: 700;
  color: #252432;
}

/* common styles */
.btn-primary {
  padding: 12px 36px 12px 36px;
  border: none;
  border-radius: 10px;
  background: rgb(78, 71, 255);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* section action styles*/
.action-container {
  margin: 116px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-details {
  width: 517px;
  height: 203px;
}
.action-title {
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 0;
}
.action-description {
  margin: 23px 0;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  color: #25243280;
}
.action-image {
  border-radius: 48px;
}

/* section production styles */
.production-container {
  text-align: center;
  padding: 50px 80px;
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
}
.user-review-container {
  display: flex;
  justify-content: space-between;
}
.production-title {
  font-family: Raleway;
  font-size: 38px;
  font-weight: 700;
  color: #252432;
  /* margin-bottom: 0; */
}
.user-numbers {
  font-family: Inter;
  font-size: 80px;
  font-weight: 700;
  color: #4e47ff;
  margin-top: 40px;
  margin-bottom: 0;
}
.user-status {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
